<ion-header>
  <ion-toolbar>
    <ion-title>
      Tarea: Catálogo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

 <div class="contenedor">
  <!--   <ion-label for="name">Nombre</ion-label>
   <input type="text" id="name" [value]="2.3 + 4">
    <input type="text" id="name2"  [(ngModel)]="nombre">
     <ion-button (click)="changeName()">Change</ion-button>{{nombre}}-->
  </div>
     

  <h2 class="ion-text-center">Listado de Productos</h2>

  <page-products></page-products>

</ion-content>
